body {
  background: #161616;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* color: #bdbdbd; */
}

main {
  flex: 1 0 auto;
}

.putInline {
  display: flex;
  justify-content: center;
}

.beInline {
  margin-left: auto;
  margin-right: auto;
}

.whitePlaceholder {
  color: white;
}

.whitePlaceholder::placeholder {
  color: white;
}

ul, li {
  list-style-type: circle !important;
}
