body {
  background: #161616;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /* color: #bdbdbd; */
}

main {
  flex: 1 0 auto;
}

.beInline {
  margin-left: auto;
  margin-right: auto;
}

.circleList {
  list-style-type: circle !important;
}

.discList {
  list-style-type: disc !important;
}

.displayFlex {
  display: flex;
}

.putInline {
  display: flex;
  justify-content: center;
}

.likeSettings {
  color: #9e9e9e;
  margin-bottom: 0px;
}

.whitePlaceholder {
  color: white;
}

.whitePlaceholder::placeholder {
  color: white;
}

#questionsAndAnswers {
  max-height: 50vh;
  overflow-y: scroll;
}

#settingsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#settingsDiv {
  text-align: left;
}
